#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 300px;
  height: 300px;
  border-radius: 16px;
  border: 1px solid #e4e4e4;
  background: rgba(0, 0, 0, 0.02);
  padding: 16px;
  display: flex;
  align-items: end;
  transition: background-color 0.5s ease-in-out;
}

.container.active {
  background: rgba(143, 151, 243, 0.04);
  /* The code below is for aligning it top right corner, though
  the following properties don't have a transition property
  like background-color */

  /* align-items: start;
  justify-content: end; */
}

.inner-square {
  width: 100px;
  height: 100px;
  background: #ECECEC;
  border-radius: 12px;
  transition: transform 0.5s ease-in-out;
}

.container.active .inner-square {
  transform: translateY(-166%) translateX(166%);
}

.inner-square.active {
  background: #8F97F3;
}
