:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

}

legend {
  text-align: left;
}

fieldset {
  border: 2px solid black;
  padding: 32px 24px;
}
